.card__container {
  &--ul {
    gap: 40px;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    @media all and (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media all and (min-width: 1024px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  &--li {
    background-color: rgba(243, 36, 174, 0.5);
    width: 115px;
    height: 200px;
    border-radius: 20%;
    margin-bottom: 20px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
    @media all and (min-width: 768px) {
      width: 200px;
      height: 300px;
      border-radius: 20%;
    }
    &:hover {
      transform: scale(1.3);
    }
  }
  &--image {
    width: 100px;
    height: 100px;
    border-radius: 20%;
    @media all and (min-width: 768px) {
      width: 180px;
      height: 180px;
      border-radius: 20%;
    }
  }
}
.card__article {
  //color: $green-color;
  //text-shadow: $blue-shadow;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align-last: center;
  &--title {
    grid-column: 1/3;
    font-weight: 600;
    margin-top: 5px;
    color: violet;
    text-shadow: none;
    margin-bottom: 7px;
    @media all and (min-width: 768px) {
      margin-top: 15px;
    }
  }
  &--img {
    height: 30px;
    margin-left: 15px;
    @media all and (min-width: 768px) {
      height: 50px;
    }
  }
}
