@keyframes buzr {
  from {
    transform: translateX(0);
  }
  50% {
    transform: translateX(40px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes buzrs {
  from {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes buzl {
  from {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-40px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes buzls {
  from {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-25px);
  }
  to {
    transform: translateX(0);
  }
}
.footer__container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  //position: absolute;
  bottom: 0;

  &--copy {
    margin-left: 10px;
    color: $white-color;
    animation-name: buzls;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    //text-shadow: $blue-shadow;
    font-weight: 400;
    font-size: small;

    @media all and(min-width: 768px) {
      margin-left: 40px;
      font-size: large;
      animation-name: buzl;
    }
  }
  &--paragraph {
    color: $white-color;
    margin-right: 10px;
    font-weight: 400;
    font-size: small;
    animation-name: buzrs;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    @media all and(min-width:768px) {
      margin-right: 40px;
      font-size: large;
      animation-name: buzr;
    }
  }
}
