.header__container {
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  &--img {
    width: 320px;
    margin: 20px;
    @media all and (min-width: 768px) {
      width: 500px;
    }
  }
  &--player {
    height: 70px;
    width: 260px;
    background-color: $green-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--song {
    color: chartreuse;
  }
}
