body {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
A {
  text-decoration: none;
}
audio,
video {
  display: flex;
  width: 250px;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}
section {
  display: flex;
  justify-content: center;
}
